[submodule "artifact/7T_audiomovie"]
	path = artifact/7T_audiomovie
	url = http://studyforrest.ds.inm7.de/d47/59300-5563-467d-be5f-e5b164fb3060
	datalad-id = d4759300-5563-467d-be5f-e5b164fb3060
	datalad-url = "ria+http://studyforrest.ds.inm7.de#d4759300-5563-467d-be5f-e5b164fb3060"
[submodule "artifact/3T_movie_eyetracking"]
	path = artifact/3T_movie_eyetracking
	url = http://studyforrest.ds.inm7.de/d5d/d3da0-a631-4c0c-a4a9-de55dfc4620f
	datalad-id = d5dd3da0-a631-4c0c-a4a9-de55dfc4620f
	datalad-url = "ria+http://studyforrest.ds.inm7.de#d5dd3da0-a631-4c0c-a4a9-de55dfc4620f"
